$primary-orange: hsl(26, 100%, 55%);
$primary-paleorange: hsl(25, 100%, 94%);
$veryVarkBlue: hsl(220, 13%, 13%);
$darkGrayishBlue: hsl(219, 9%, 45%);
$grayishBlue: hsl(220, 14%, 75%);
$lightGrayishBlue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$white-background: hsl(0, 0%, 98%);
$black: hsl(0, 0%, 0%);
$light-background: hsl(0, 0%, 75%);